@charset 'UTF-8';

@media screen and (min-width: 320px) {
  header {
    height: 9rem;
  }

  .titulo-menu > img {
    text-align: center;
    transform: translate(0.3rem, 0.2rem);
  }

  .titulo-menu > h1 {
    font-size: 1.1rem;
    transform: translate(0.2rem, -0.3rem);
  }

  main {
    display: none;
  }
}

@media screen and (min-width: 375px) {
  header {
    height: 5.3rem;
    background-color: rgb(59, 57, 57);
  }

  .titulo-menu > img {
    width: 6.4rem;
    transform: translate(-2rem, -0.5rem);
  }

  .titulo-menu > h1 {
    font-size: 1rem;
    transform: translate(-2rem, -3rem);
  }

  i#burguer {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }
}

@media screen and (min-width: 795px) {
  i#burguer {
    display: none;
  }

  header {
    height: 12vh;
  }

  menu {
    box-shadow: none;
    background: none;
    transform: translate(5rem, -2.9rem);
  }

  menu > ul > li {
    padding-top: 0;
    display: inline;
    text-decoration: none;
    border: none;
  }

  menu > ul > li > a {
    color: white;
    margin-right: 1rem;
  }
}
