@charset 'UTF-8';

@media (min-width: 600px) and (max-width: 1024px) {
  /* Regras CSS para telas médias */

  i#burguer {
    display: none;
  }

  header {
    height: 12vh;
  }

  menu {
    box-shadow: none;
    background: none;
    transform: translate(5rem, -2.9rem);
  }

  menu > ul > li {
    padding-top: 0;
    display: inline;
    text-decoration: none;
    border: none;
  }

  menu > ul > li > a {
    color: white;
    margin-right: 1rem;
  }
}
