@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Futura LT", sans-serif;
  color: white;
  background-color: #b4b1b1;
}

header {
  background-color: rgb(59, 57, 57);
  height: 14svh;
  position: relative;
}

img {
  padding: 1rem;
  width: 7rem;
  display: inline;
  transform: translate(-2rem, 0.5rem);
}

.titulo-menu {
  text-align: center;
}

.titulo-menu > h1 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  display: inline-block;
  transform: translate(-1.8rem, -2rem);
}

menu {
  background-color: #ffffffd5;
  box-shadow: 0 0.2rem 3rem 0.1rem rgba(12, 12, 12, 0.5);
}

menu > ul > li {
  padding: 1rem;
  border-bottom: 0.1rem solid black;
}

menu > ul > li > a {
  color: black;
  text-decoration: none;
  list-style-type: none;
}

i#burguer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

main {
  display: none;
}
